<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="margin-top:50px">Welcome to {{ title }}!</h1>
  <h3>
    &rsaquo;&rsaquo; A simple http cache module for any Angular app
    &lsaquo;&lsaquo;
  </h3>

  <div>
    <button (click)="makeUserRequest(1)">User Request (1)</button> |
    <button (click)="makePortfolioRequest(1)">Portfolio Request (1)</button>
  </div>
  <div>
    <button (click)="makeUserRequest(2)">User Request (2)</button> |
    <button (click)="makePortfolioRequest(2)">Portfolio Request(2)</button>
  </div>

  <img width="300" alt="Angular Logo" src="/assets/angular.png" />
  <h2>
    <a
      target="_blank"
      rel="noopener"
      href="https://github.com/neekware/nwx-http-cache"
      >Github Repo</a
    >
  </h2>

  <h5>
    <a target="_blank" rel="noopener" href="http://neekware.com"
      >Neekware Inc.</a
    >
  </h5>
</div>
